/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body font-family */
body {
  font-family: 'Montserrat', sans-serif;
}
.fa{
  font-weight: 900;
}

ul{list-style: none;}

a{text-decoration:none;
    /* color:#fff; */
}
/* h1,h2,h3,h4,h5,p{color:#000;
padding-bottom:30px;
} */

/* classi font */
.big-text{font-size:70px;}
.med-text{font-size:40px;}
.normal-text{font-size:20px;}
.small-text{font-size:14px;}

/* classi padding */
.p50-top{padding-top: 50px;}
.p50-bottom{padding-bottom: 50px;}

  .w100,.col-12{
  width:100%;}

.clearfix::after{
  clear:both;
  display:table;
  content:"";
  }

.fl{float:left;}
.fr{float:right;}
.col-2{width:16.666%;}
.col-3{width:25%;}
.col-4{width:33.333%;}
.col-5{width:41.666%;}
.col-6{width:50%;}
.col-7{width:58.333%;}
.col-8{width:66.666%;}
.col-9{width:75%;}
.col-10{width:83.333%;}
[class*="col-"]{;}

.button {
  color: #fff;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 40px;
  text-transform: uppercase;
  border:1px solid #fff;
  display: inline-block;
  text-align: center;
}

/* .centered{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
left: 50%;} */

/* codice */

.wrapper{
  height:calc(100vh - 80px);
  width:100vw;
  max-width: 100%;
  background-color: red;
}

.sidebar{width:200px;
height:100%;
background-color:#000;
color:#fff;
}
.sidebar-container{
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.logo-spotify img{filter: invert(100%);
}
.logo-spotify a{
  color:#fff;}

  .main{
  margin-top:50px;
  width:calc(100% - 200px);
  overflow-y:auto;
  height:100%;
}
.upgrade{
  background-color: #080b12;
  text-align: right;
  width:calc(100% - 200px);
  position:fixed;
  height:50px;
  top:0;
  right:0;
}

.main-container{
  padding:10px;
  color:#fff;
  background-color: #141822;
}

.nav{
  text-align: center;
}
.nav ul li{
  display:inline-block;
}
.recently{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between
}
.recommended, .popular{
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.recently .cover,.recommended .cover,.popular .cover{
  width:100px;
}
.recently img,.recommended img,.popular img{
  width:100%;
  height:100px;
}
.popular img{
border-radius: 50%;
}
footer{
  color:#fff;
  display:flex;
  justify-content: space-between;
  height:80px;
  padding:10px;
  background-color: #282828;
}
.footer-l,.footer-c,.footer-r,.footer-c .play,.footer-c .bar{
  display:flex;
}
.footer-l img{
height:50px;
width:50px;
}
.footer-l i{
  align-self:center;
}
.footer-c{flex-direction:column;
justify-content: center;
align-items:center;}
footer .play,.footer-r{align-items: center;}
footer .playing i:before{
content:"";
display:inline-block;
position:relative;
border-bottom: 3px solid #ccc;
width:180px;
bottom:5px;
}
footer .playing i:before{
content:"";
display:inline-block;
position:relative;
border-bottom: 3px solid #ccc;
width:180px;
bottom:5px;
}

footer .sound i:before{
content:"";
display:inline-block;
position:relative;
border-bottom: 3px solid #ccc;
width:180px;
bottom:5px;
}
footer .sound i:before{
content:"";
display:inline-block;
position:relative;
border-bottom: 3px solid #ccc;
width:25px;
bottom:5px;
}
/* fine codice */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
