/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body font-family */
body {
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}
ul{list-style: none;}
a{text-decoration:none;
  color:#fff;
}

.opa0{
  opacity:0;
}
.opa1{opacity:1;}

#btn-dance{
  margin-top: 20px;
  background-color:yellow;
  border-radius: 20px;
  padding:10px;
  font-size: 20px;
  font-weight:900;

}
.left,.right{
  width:48%;
  display:inline-block;
}

.main-content img{
  width:200px;
  height:auto;
}
.right img{
position:relative;
animation-name:trumpdance;
animation-iteration-count:3;
animation-delay:11.2s;
animation-duration: 1.8s;
animation-timing-function: linear;
}

@keyframes trumpdance {
0%{left:0px;top:0px}
15%{left:100px;
}
25%{left:100px;}
35%{left:0px;top:-50px;}
50%{left:100px;
transform: rotate(270deg);}
60%{left:50px;}
75%{left:0px;}
90%{top:-300px;}
100%{left:0px;top:0px; }
}
.underline:after{
  content:"";
  position:relative;
  width:33.33%;
  height:2px;
  background-color:#84e91e;
  display:none;
  left:33.33%;
}
.flex{display:flex;}
.item span , .categoria span, a ,.sidebar li { opacity:0.5;
}
a:hover,.button,.sidebar li:hover,.user a {opacity:1;}
.sidebar .active{opacity:0.8;}
.sidebar li:hover,.item:hover,footer i:hover,.shuffle:hover,.playing:hover{
  cursor:pointer;
}

/* classi font */
.normal-text{font-size:13px;}
.small-text{font-size:10px;}

/* classi padding */
.p10-left{padding-left: 10px;}
.p10-bottom{padding-bottom: 10px;}
.p10-right{padding-right: 10px;}
.p10-top{padding-top: 10px;}
.p5-left{padding-left: 10px;}
.p5-right{padding-right: 5px;}
.p5-bottom{padding-bottom: 5px;}
.p5-top{padding-top: 5px;}
.p10{padding:10px;}
/* classi float */
.fl{float:left;}
.fr{float:right;}

/* CODICE */

/* wrapper contiene tutto */
.wrapper{
  height:100vh;
  width:100vw;
  max-width: 100%;
  overflow-y: hidden;
}
/* main contiene tutto tranne footer */
main {
  height: calc(100% - 90px);
}
/* aside */
.sidebar{width:200px;
  height:100%;
  min-height: 440px;
  background-color:#000;
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar-content{
  height:100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sidebar-up{
  flex-direction: column;
  height:calc(100% - 80px);
}
.sidebar-up .flex,.sidebar-down .flex{
  align-items:center;
}
.sidebar-down{
  height:80px;
}
.logo-spotify img:first-child{filter: invert(100%);
  display:none;
}
.logo-spotify img:last-child{
  margin:15px 0;
  width:70%;
  height:auto;
}
span.spotify{
  font-size: 22px;
  font-weight: 600;
}
.playlists{
  min-height: 80px;
  overflow-y: auto;
}
.addplaylist{
  color:#000;
  text-align: center;
  width:35px;
  font-size: 35px;
  line-height:35px;
  height: 35px;
  background-color: #fff;
  border-radius: 1px;
}
.menu img{
  width:20px;
  height:auto;
}
.menu li{
  margin-bottom: 10px;
}
.menu li:first-child{
  position:relative;
}
.menu li:first-child:before{
  content:"";
  display:block;
  position:absolute;
  top:50%;
  left:-15px;
  transform: translate(0,-50%);
  height:26px;
  width:3px;
  background-color: #84e91e;
}
.installapp img{filter: invert(100%);
  width:12px;
  height:auto;
}
.user img{
  width:20px;
  background-color:#808080;
  border-radius:999em;
}
.createplaylist li:first-child{
  opacity:1;
  text-transform: uppercase;
  font-weight: 700;
  cursor:text;
}
.installapp{border-bottom:1px solid #ccc;
}
.user { font-weight: 600;
}
/* content */
.content{
  width:calc(100% - 200px);
  height:100%;
}
.call-to-action{
  background-color: #080b12;
  opacity:0.9;
  text-align: right;
  width:calc(100% - 200px);
  position:fixed;
  height:90px;
  line-height: 90px;
  z-index:2;
}
.button {
  display:inline-block;
  height: 45px;
  line-height: 45px;
  max-width: 250px;
  width:70%;
  font-weight: 700;
  margin-right: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  border:1px solid #fff;
  text-align: center;
}
.button:hover{
  transform: scale(1.1);
}
.main-content{
  background-color: #141822;
  margin-top:90px;
  width:100%;
  height:100%;
}
/* menù spotify */
.nav{
  text-transform:uppercase;
  font-weight: 700;
  text-align: center;
}
.nav ul li{
  display:inline-block;
  height:40px;
}
.nav ul li:hover .underline:after{
  display:block;
}
/* item */
.recently{
  flex-wrap: wrap;
}
.item{
width:calc(100% / 6 - 20px);
  margin :20px 10px;
  text-align: center;
}
.item p{
  font-size: 12px;
}
.item span{
  font-size: 10px;
}
section img{
  width:100%;
  height:auto;
}
.cover{
  position:relative;
}
.cover i{
  transform: translate(-50%,-50%);
  position:absolute;
  left:50%;
  top:50%;
}
.item .overlay {opacity:0;
  height:100%;
  width:100%;}
.item:hover .overlay {opacity:1;}
.item:hover img {filter:opacity(30%);}
.popular img{
  border-radius: 50%;
}
.layover{
  position:absolute;
  width:100%;
  height:100%;
}
/* footer */
footer{
  position:fixed;
  z-index:1;
  bottom:0;
  justify-content: space-between;
  height:90px;
  width:100%;
  background-color: #282828;
}
.footer-left img{
  max-width:35px;
  height:auto;
  margin-right: 10px;
}
.footer-left {
  align-items:center;
}
.footer-left,.footer-right{
  width:30%;}
.footer-right{
 justify-content: flex-end;
}
.footer-left .nowplaying{
  margin-right:10px;
  width:80px;
  line-height: 70%;
}
.footer-left .nowplaying a:hover{
  text-decoration: underline;
}
.footer-left .nowplaying p{
  font-size:0.7em;
  font-weight: 600;
}
.footer-left .nowplaying a{
  font-size: 0.6em;
}
footer .bar{
  align-items: center;
  width:90%;
  max-width:600px;
}
.footer-center{flex-direction:column;
  justify-content: space-around;
  align-items:center;
  width:40%;
}
footer .shuffle,footer .playing{
  position:relative;
  height:3px;
  background-color: #ccc;
}
footer .playing{width:70%;
  margin-left:5%;
  margin-right:5%;
}
footer .number{width:10%;
  min-width: max-content;
  font-weight: 600;
  font-size: 9px;
  text-align: center;
}
footer .shuffle { width:50%;
  max-width:120px;
}
footer .elapsed-time{
  position:absolute;
  height:3px;
  background-color: #fff;
}
.perc-20 {
  width: 20%;
}
.perc-30 {
  width: 30%;
}
.elapsed-time .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}
.playing:hover .point,.shuffle:hover .point {
  display: block;
}
footer .play  {justify-content: center;
  max-width:33%;}
footer .play  li{display: inline-block;
  padding:0 15%;}
footer .play .fa-2x:hover{transform: scale(1.2);
}
footer .playing:hover .elapsed-time,footer .shuffle:hover .elapsed-time{
  background-color: lightgreen;
}
footer .play,.footer-right{align-items: center;}

/* fine codice lg */

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
.item{
  width:calc(100% / 4 - 20px);
}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.item{
  width:calc(100% / 2 - 20px);
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
.footer-left img{
  width:80%;
  min-width:20px;
}
.menu li:first-child:before{
  left:-5px;}
.content{
  width:calc(100% - 50px);}
.sidebar{width:50px;
  padding-left:5px;
  padding-right:5px;
}

.sidebar span , .sidebar .playlists, .sidebar .createplaylist,.logo-spotify img:last-child{
  display:none;
}
.logo-spotify img:first-child{filter: invert(100%);
  display:block;
  width:60%;
  margin:0 auto;
}
.sidebar-down .flex, .sidebar-up .flex
{justify-content:center;
}
.call-to-action{
  width:calc(100% - 50px);
}
.footer-left .heartfolder{
  flex-direction: column;
}
.footer-left .fa-folder-o,.footer-left .heartfolder{
  padding-left:0;
}
.footer-left .nowplaying{
  margin-right:0;
}
}
/* media speciale inserita per l'altezza(voluta da ottavio) */
@media only screen and (max-height : 90px){
.button{ display:none;
}
.call-to-action{
  opacity:0.6;
  width:100%;
}
.sidebar{
  display:none;
}
}
/* media speciale sotto i 370px in larghezza */
@media only screen and (max-width : 370px){
footer .play  li{
  padding:0 10%;
  font-size:0.8em;
}
.footer-left .heartfolder{
  line-height: 10px;
}
.footer-left,.footer-right i{
  font-size:10px;
}
.button{font-size: 11px;
  height: 30px;
  line-height: 30px;
  width:150px;
  min-width:max-content;
}
.elapsed-time .point{
  width:7px;
  height:7px;
}
.categoria{text-align: center;
  padding:0;}
.categoria h1{font-size: 18px;}
.categoria span{font-size: 12px;}
.nav ul li{
  height:20px;}
}

/* Q&A:
1)Gli elementi flex hanno di base flex: 0(grow) 1(shrink) auto(basis)[look at my dim];
nel footer avrei potuto mettere flex 30% 30% e 40%(o analogamente 0.75 0.75 e 1) al posto di width per f-right,left & center.
Se avessi messo proporzioni diverse con flex lasciando i width questi ultimi sarebbero stati ignorati.
2)Se avessi voluto fare l'hover per far uscire la barra verticale verde nella sidebar al passaggio su Cerca e La tua libreria
sarebbe stato meglio costruire la barra come border left del div contenuto nei 3 li a cui dare opacity 0/1
3)Se avessi costruito bottone senza dimensioni ma col padding a partire dal contenuto il transform scale per lo zoom non avrebbe funzionato
perché lavora su dimensioni(in quel caso avrei dovuto fare lo zoom "a mano" cambiando padding font e agendo anche sul margin per bilanciare la traslazione orizzontale)
4)La centratura verticale di testo e img affiancati nell'aside con flex/align-items:center riesce più facile rispetto al vertical align(che per funzionare senza
"aggiustare di margin top/bottom" richiederebbe display table/display:table-cell i quali però renderebbero il codice "poco leggibile")
5)Il css è pensato per evitare il data loss, per cui devo essere io a lavorare con l'overflow quando il contenuto esce dal contenitore */
