/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body font-family */
body {
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}
ul{list-style: none;}

a{text-decoration:none;
    color:#fff;
}
.underline:after{
  content:"";
  position:relative;
  width:30%;
  height:2px;
  background:#ADFF2E;
  display:none;
  left:33.33%;
}
.flex{display:flex;}
.item span, a , .categoria span{ opacity:0.5;
}
a:hover,a.active, .user a,.button{
    opacity:1;
}
/* classi font */
.normal-text{font-size:13px;}
.small-text{font-size:10px;}

/* classi padding */
.p10-left{padding-left: 10px;}
.p10-bottom{padding-bottom: 10px;}
.p10-right{padding-right: 10px;}
.p10-top{padding-top: 10px;}
.p5-left{padding-left: 10px;}
.p5-right{padding-right: 5px;}
.p5-bottom{padding-bottom: 5px;}
.p5-top{padding-top: 5px;}
.p10{padding:10px;}

/* classi float */
.fl{float:left;}
.fr{float:right;}

/* In questa struttura clearfix superfluo */

.call-to-action{
  background-color: #080b12;
  opacity:0.9;
  text-align: right;
  width:calc(100% - 200px);
  position:fixed;
  height:90px;
  line-height: 90px;
  z-index:2;
}
.button {
  display:inline-block;
  height: 45px;
  line-height: 45px;
  width: 250px;
  max-width: 70%;
  font-weight: 700;
  margin-right: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  border:1px solid #fff;
  text-align: center;
}

.button:hover{
  transform: scale(1.1);
}
/* codice */

/* wrapper contiene tutto */
.wrapper{
  height:100vh;
  width:100vw;
  max-width: 100%;
  overflow-y: hidden;
}
/* main contiene tutto tranne footer */
main {
  height: calc(100% - 90px);
}

/* inizio aside */

.sidebar{width:200px;
height:100%;
min-height: 450px;
background-color:#000;
padding-left: 15px;
padding-right: 15px;
}
.sidebar-content{
  height:100%;
  display:flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
}

.sidebar-up{
  flex-direction: column;
  height:calc(100% - 80px);
}
.menu,.createplaylist{
  padding-top: 10px;
}
.logo-spotify img:first-child{filter: invert(100%);
 display:none;
}

.logo-spotify img:last-child{
margin:15px 0;
width:70%;
height:auto;
}
span.spotify{
  font-size: 22px;
  font-weight: 600;
}
.playlists{
  min-height: 80px;
  overflow-y: auto;
}
.createplaylist div{
  vertical-align: middle;
  display:inline-block;
  color:#000;
  text-align: center;
  width:35px;
  font-size: 35px;
  line-height:35px;
  height: 35px;
 background-color: #fff;
}
.sidebar-down{
height:80px;
}
.menu img{
  margin-bottom: 5px;
  width:20px;
  height:auto;
  vertical-align: middle;
}
.menu li:first-child div{
  border-left:3px;
  margin-left: -15px;
  border-left-color: lightgreen;
  border-left-style: solid;
}
.sidebar-down img{
  margin-bottom: 3px;
  width:20px;
  height:auto;
  vertical-align: middle;
}

.installapp img{filter: invert(100%);
  width:12px;
  height:auto;
}
.user img{
  background-color:#808080;
  border-radius:999em;
}
.createplaylist p:first-child{
  text-transform: uppercase;
  font-weight: 700;
}
.installapp{border-bottom:1px solid #ccc;
}
.user { font-weight: 600;
}

/* fine aside */

.content{
  overflow-y:auto;
  width:calc(100% - 200px);
  height:100%;
}
.main-content{
  background-color: #141822;
  margin-top:90px;
  width:100%;
}
/* nav spotify */

.nav{

  text-transform:uppercase;
  font-weight: 700;
  text-align: center;
}
.nav ul li{
  display:inline-block;
  height:40px;
}

.nav ul li:hover .underline:after{
display:block;
}
/* fine nav spotify */
/* inizio item */
.recently{
  flex-wrap: wrap;
}

.item{
width:calc(100% / 6 - 20px);
  margin :20px 10px;
  text-align: center;
}
.item p{
  font-size: 12px;
}
.item span{
  font-size: 10px;
}

section img{
  width:100%;
  height:auto;
}
.cover{
  position:relative;
}
.cover i{
  transform: translate(-50%,-50%);
  position:absolute;
  left:50%;
  top:50%;
}

.item .overlay {opacity:0;
height:100%;
width:100%;}

.item:hover .overlay {opacity:1;}
.item:hover img {filter:opacity(30%);}
.popular img{
border-radius: 50%;
}
.layover{
  position:absolute;
  width:100%;
  height:100%;
}
/* Fine item */
/* Inizio footer */

footer{
  position:fixed;
  z-index:1;
  bottom:0;
  justify-content: space-between;
  height:90px;
  width:100%;
  background-color: #282828;
}

.footer-left img{
  max-width:35px;
  height:auto;
  margin-right: 10px;
}
.footer-left {
  align-items:center;
}
.footer-left,.footer-right{
  width:30%;}
.footer-right{
 justify-content: flex-end;
}
.footer-left .nowplaying{
margin-right:10px;
width:80px;
line-height: 70%;
}
.footer-left .nowplaying a:hover{
  text-decoration: underline;
}
.footer-left .nowplaying p{
font-size:0.7em;
font-weight: 600;
}
.footer-left .nowplaying a{
font-size: 0.6em;
}
footer .bar{
  align-items: center;
  width:70%;
}
.footer-center{flex-direction:column;
justify-content: space-around;
align-items:center;
width:40%;
}

footer .shuffle,footer .playing{
  position:relative;
  height:3px;
  background-color: #ccc;
}
footer .playing{width:70%;
  margin-left:5%;
  margin-right:5%;
}

footer .number{width:10%;
  min-width: max-content;
  font-weight: 600;
  font-size: 9px;
text-align: center;}

footer .shuffle { width:50%;
max-width:120px;}


footer .elapsed-time{
  position:absolute;
  height:3px;
  background-color: #fff;
}

.perc-20 {
  width: 20%;
}
.perc-30 {
  width: 30%;
}

.elapsed-time .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.bar:hover .point,.shuffle:hover .point {
  display: block;
}

.play .fa-2x:hover{transform: scale(1.2);
}
footer .bar:hover .elapsed-time,footer .shuffle:hover .elapsed-time{
  background-color: lightgreen;
}

footer .shuffle:hover .elapsed-time{
  display:block;
}

footer .play,.footer-right{align-items: center;}

/* fine codice lg */

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

.item{
  width:calc(100% / 4 - 20px);
}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

.item{
  width:calc(100% / 2 - 20px);
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {

.footer-left img{
   width:80%;
  }

.content{
  width:calc(100% - 50px);}
.sidebar{width:50px;
  padding-left:5px;
  padding-right:5px;
}

.sidebar span , .sidebar .playlists, .sidebar .createplaylist,.logo-spotify img:last-child{
  display:none;
}
.logo-spotify img:first-child{filter: invert(100%);
 display:block;
 width:60%;
 margin:0 auto;
}
.menu li:first-child div{
  margin-left:-5px;
  padding-left: 0px;
}
.sidebar{text-align: center;
}

.call-to-action{
  width:calc(100% - 50px);
}
.footer-left .heartfolder{
  flex-direction: column;
}
.footer-left .fa-folder-o,.footer-left .heartfolder{
  padding-left:0;
}
.footer-left .nowplaying{
  margin-right:0;
}
}
/* media speciale inserita per l'altezza(voluta da ottavio) */
@media only screen and (max-height : 90px){
.button{ display:none;
}
.call-to-action{
  opacity:0.6;
  width:100%;
}
.sidebar{
  display:none;
}
}
